$large: 1050px;
$xl: 850px;
$medium: 700px;
$small: 550px;

@mixin large {
    @media (max-width: #{$large}){
        @content
    }
};


@mixin xl {
    @media (max-width: #{$xl}){
        @content
    }
};

@mixin medium {
    @media (max-width: #{$medium}){
        @content
    }
};


@mixin small {
    @media (max-width: #{$small}){
        @content
    }
}